.container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.appContainer{
    background-color: #343b46;
    color: #fff;
    border-radius: 10px;
    width: 320px;
    padding: 50px 20px;
    box-shadow: 10px 10px 40px 0 rgb(0 0 0 / 50%);
}

.appDisplay{
    font-size: 64px;
    border-radius: 50%;
    background-color: rgba(76, 81, 90, 1);
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.appBtn{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.appBtn button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: rgba(76, 81, 90, 1);
    font-size: 32px;
    color: #fff;
}

.lessfive{background-color: #f7f7f7; color: #444; transition: .5s ease}
.zero{background-color: #bceefb; color: #444; transition: .5s ease}
.fiftheen{background-color: #b9ecd8; color: #444; transition: .5s ease}
.thirty{background-color: #f3a981;  transition: .5s ease}
.fourty{background-color: #ff3c1c;  transition: .5s ease}

